# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wp-zinc-plugins/app/public"

# Local site URL
WORDPRESS_URL=http://wpzinc-plugins.local

# WP to Hootsuite specific variables.
WORDPRESS_TO_HOOTSUITE_PRO_LICENSE_KEY=12345