# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wordpress-org/app/public"

# Local site URL
WORDPRESS_URL=http://wordpress-org.local

# WP to Hootsuite specific variables.
WORDPRESS_TO_HOOTSUITE_PRO_LICENSE_KEY=